{% extends 'base.html' %}
{% block content %}
<div class="container">
    <!-- Cartouche utilisateur -->
    <div class="shadow card bg-primary text-white mt-4 mb-4">
        <div class="card-body d-flex justify-content-between align-items-center">
            <h1 class="mb-0">{{ user.name }}</h1>
            <a href="{{ url_for('results', user_id=user.id) }}" class="btn btn-light">Scoreboard</a>
        </div>
    </div>

    <div class="row">
        {% for challenge in challenges %}
        <div class="col-md-4">
            <div id="challenge-card-{{ challenge.id }}" class="shadow card mb-4 {% if challenge.id in completed_challenges %}bg-light-success{% endif %}">
                <div class="card-body">
                    <h5 id="challenge-title-{{ challenge.id }}" class="card-title">
                        {{ challenge.title }}
                        {% if challenge.id in completed_challenges %}
                        <span class="badge bg-success">✓</span>
                        {% endif %}
                    </h5>
                    <p class="card-text">{{ challenge.description | replace('\n', '<br>') | safe }}</p>
                    
                    {% if challenge.type == 'file' and challenge.file_url %}
                    <a href="{{ challenge.file_url }}" class="btn btn-primary">Download</a>
                    {% endif %}

                    {% if challenge.type == 'docker' %}
                    <div id="docker-control-{{ challenge.id }}">
                        {% if challenge.id in active_dockers %}
                        <!-- Docker container running -->
                        <p>nc {{ docker_url }} {{ active_dockers[challenge.id] }}</p>
                        <button class="btn btn-danger" onclick="stopDocker({{ challenge.id }}, '{{ user.id }}', '{{ challenge.title }}')">STOP</button>
                        {% else %}
                        <!-- Docker container not running -->
                        <button id="start-btn-{{ challenge.id }}" class="btn btn-success" onclick="startDocker({{ challenge.id }}, '{{ user.id }}', '{{ challenge.title }}')">START</button>
                        {% endif %}
                    </div>
                    {% if challenge.file_url %}
                    <a href="{{ challenge.file_url }}" class="btn btn-primary mt-2">Download</a>
                    {% endif %}
                    {% endif %}

                    <form id="flag-form-{{ challenge.id }}" data-user-id="{{ user.id }}" data-challenge-id="{{ challenge.id }}"  onsubmit="submitFlag({{ challenge.id }}); return false;">
                        <div class="input-group mt-3">
                            <input type="text" name="flag" class="form-control" placeholder="Enter flag" required>
                            <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                    </form>
                    <div id="flag-result-{{ challenge.id }}" class="mt-2"></div>
                </div>
            </div>
        </div>
        {% endfor %}
        <!-- flag{dcaf803f2a52c19f0f5005526f401515} -->
    </div>
</div>
<script>
    function startDocker(challengeId, userId, challengeName) {
        // Désactiver le bouton immédiatement
        var button = document.getElementById("start-btn-" + challengeId);
        button.disabled = true;
        const dockerDir = `assets/dockers/${challengeName}`;
        fetch(`/start_docker/${userId}/${challengeId}`, {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({ dockerfile_dir: dockerDir, challengeName: `${challengeName}` })
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                const containerDiv = document.getElementById(`docker-control-${challengeId}`);
                containerDiv.innerHTML = `
                    <p>nc games.olivierprotips.fr ${data.port}</p>
                    <button class="btn btn-danger" onclick="stopDocker(${challengeId}, ${userId}, '${challengeName}')">STOP</button>
                `;
            } else {
                alert("Error starting Docker: " + data.message);
            }
        })
        .catch(error => console.error("Error:", error));
    }

    function stopDocker(challengeId, userId, challengeName) {
        fetch(`/stop_docker/${userId}/${challengeId}`, { 
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({ challengeName: `${challengeName}` })
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                const containerDiv = document.getElementById(`docker-control-${challengeId}`);
                containerDiv.innerHTML = `
                    <button id="start-btn-${challengeId}" class="btn btn-success" onclick="startDocker(${challengeId}, ${userId}, '${challengeName}')">START</button>
                `;
            } else {
                alert("Error stopping Docker: " + data.message);
            }
        })
        .catch(error => console.error("Error:", error));
    }

    async function submitFlag(challengeId) {
        const form = document.getElementById(`flag-form-${challengeId}`);
        const userId = form.getAttribute('data-user-id');
        const challengeIdAttr = form.getAttribute('data-challenge-id');
        const flagInput = form.querySelector('input[name="flag"]');
        const flag = flagInput.value.trim();
        const resultDiv = document.getElementById(`flag-result-${challengeId}`);
        const challengeCard = document.getElementById(`challenge-card-${challengeId}`);
        const challengeTitle = document.getElementById(`challenge-title-${challengeId}`);

        if (!flag) {
            resultDiv.innerHTML = '<span class="text-danger">Please enter a flag.</span>';
            return;
        }

        try {
            const response = await fetch(`/submit_flag/${userId}/${challengeIdAttr}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ flag: flag }),
            });

            const result = await response.json();
            if (response.ok && result.success) {
                challengeCard.classList.add('bg-light-success');
                challengeTitle.insertAdjacentHTML('beforeend', ' <span class="badge bg-success">✓</span>');
                flagInput.value = '';
                resultDiv.innerHTML = '';
            } else {
                resultDiv.innerHTML = `<span class="text-danger">${result.message || 'Flag validation failed.'}</span>`;
            }
        } catch (error) {
            resultDiv.innerHTML = `<span class="text-danger">Error: ${error.message}</span>`;
        }
    }
</script>
{% endblock %}
